header {
    height: 56px;
  }
  
  .content {
    height: calc(100vh - 112px);
  }
  .navbar {
    height: 140px;
  }
  .navbar-brand {
    text-align: center;
    color: #000;
    font-size:45px;
  }
  .nav-link {
    color: #000;
  }